body {
    background: #111111;
    color: #f6f6f6;
    font-family: Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden; /* completely disables horizontal scroll */
    width: 100%;
    margin: 0;
}

a {
    font-size: large;
    color: red;
    font-style: italic;
    cursor: pointer;
}

a:hover {
    color: lightcoral;
}

a:visited {
    color: lightcoral;
}

p {
    font-size: large;
}

.card {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.card header h1 {
    position: absolute;
    bottom: 0;
    text-shadow: 2px 2px #111111;
}

.card h1,
h2,
p {
    text-align: center;
}

.card header #jakob {
    position: absolute;
    top: 5%;
    height: 100%;
    z-index: -1;
    animation: slideInLeft 2s ease forwards;
}

.card header #telephone {
    position: absolute;
    top: 5%;
    height: 80%;
    z-index: -1;
}

.card header #computer {
    position: absolute;
    top: 5%;
    height: 80%;
    z-index: -2;
}

.card header #brainchip {
    position: absolute;
    top: 5%;
    height: 80%;
    z-index: -2;
}

.card header #payment {
    position: absolute;
    top: 5%;
    height: 100%;
    z-index: -2;
}

.card section {
    padding: 1em;
}

.card section ul {
    text-align: center;
}

.card address ul {
    text-align: center;
}

.card section ul li {
    padding: .5em 0;
}

.card section table {
    width: 100%; 
    max-width: 400px;
    margin: 0 auto;
    font-size: large;
}

.card section table thead th{
    padding-bottom: .5em;
    /* Optional: Add a border to separate them even more clearly */
    border-bottom: 1px dashed #ccc;
}

.card section table td {
    padding: .5em 0;
    text-align: center;
}

.action {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,
            transparent 0%,
            #111 30%);
}

.action a {
    padding: 2em;
}

.main.htmx-added {
    animation: slideInLeft 0.2s linear forwards;
}

.main.htmx-swapping {
    animation: slideOutLeft 0.2s linear forwards;
}

.side.htmx-added {
    animation: slideInRight 0.2s linear forwards;
}

.side.htmx-swapping {
    animation: slideOutRight 0.2s linear forwards;
}

.action {
    opacity: 0;
    animation: fadeIn 1s linear forwards .5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-200px);
    }
}

@keyframes slideOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(200px);
    }
}