<article class="card main">
    <header style="display: grid; place-items: center; position: relative">
        <img id="jakob" src="jakob.png" alt="Portrait of Jakob">
        <img id="computer" src="computer.png" alt="" role="Computer">
        <h1>tutor<br>poche chiacchiere</h1>
    </header>

    <section aria-label="Introduction and Links">
        <p>Sono jakob, il tuo tutor 100% umano di informatica in inglese!</p>
        <nav>
            <ul style="list-style: none; padding: 0; margin: 0;">
                <li>
                    <a id="parliamolink" href="/parliamo.html" hx-get="/parliamo.html" hx-target=".card"
                        hx-push-url="false" hx-swap="outerHTML swap:0.2s settle:0.2s">
                        parliamo
                    </a>
                </li>
                <li>
                    <a id="cosainsegnolink" href="/cosainsegno.html" hx-get="/cosainsegno.html" hx-target=".card"
                        hx-push-url="false" hx-swap="outerHTML swap:0.2s settle:0.2s">
                        cosa insegno
                    </a>
                </li>
                <li>
                    <a id="prezzilink" href="/prezzi.html" hx-get="/prezzi.html" hx-target=".card"
                        hx-push-url="false" hx-swap="outerHTML swap:0.2s settle:0.2s">
                        tariffario
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <div id="navuk" hx-get="nav_uk.html" hx-target="#navuk" hx-trigger="load" hx-swap="outerHTML"></div>
</article>