body {
    background: #111111;
    color: #f6f6f6;
    font-family: Helvetica, sans-serif;
}

a {
    color: red;
}

a:hover {
    color: orange;
}

a:visited {
    color:purple;
}


.layout1 {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.layout1 h1 {
    position: absolute;
    bottom: 0;
    text-shadow: 2px 2px #111111;
    text-align: center;
}

.layout1 #jakob {
    position: absolute;
    top: 5%;
    height: 100%;
    z-index: -1;
    animation: slideIn 2s ease forwards;
}

.layout1 #nopanic {
    position: absolute;
    top: 5%;
    height: 90%;
    z-index: -1;
}

.layout1 #computer {
    position: absolute;
    top: 5%;
    height: 100%;
    z-index: -2;
}

.layout1 .content {
    padding: 1em;
}

.layout1 p {
    text-align: center;
}

/*
    background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.8) 80%,
    transparent 100%
    );
    background: radial-gradient(
        circle,
        rgba(255,0,0,0.8) 0%,
        transparent 100%
    );
    text-shadow: 2px 2px #ff000055;
    */


body.htmx-added, .layout1.htmx-added {
    animation: slideIn 0.2s linear forwards;
}

body.htmx-swapping, .layout1.htmx-swap {
    animation: slideOut 0.2s linear forwards;
}



@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-200px);
    }
}

#welcomelist li {
    padding: 2px;
}

.action {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.pointer {
    cursor: pointer;
}