body {
    background: #111111;
    color: #f6f6f6;
    font-family: Helvetica, sans-serif;
    margin-top: 0;
}

a {
    color: red;
}

a:hover {
    color: red;
}

a:visited {
    color: red;
}

p  {
    font-size: large;
}

.layout1 {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.layout1 h1 {
    position: absolute;
    bottom: 0;
    text-shadow: 2px 2px #111111;
    text-align: center;
}

.layout1 #jakob {
    position: absolute;
    top: 5%;
    height: 100%;
    z-index: -1;
    animation: slideIn 2s ease forwards;
}

.layout1 #phone {
    position: absolute;
    top: 5%;
    height: 80%;
    z-index: -1;
}

.layout1 #computer {
    position: absolute;
    top: 5%;
    height: 100%;
    z-index: -2;
}

.layout1 #brainchip {
    position: absolute;
    top: 5%;
    height: 80%;
    z-index: -2;
}

.layout1 #payment {
    position: absolute;
    top: 5%;
    height: 100%;
    z-index: -2;
}


.layout1 .content {
    padding: 1em;
}

.layout1 p, h3 {
    text-align: center;
}

body.htmx-added, .layout1.htmx-added {
    animation: slideIn 0.2s linear forwards;
}

body.htmx-swapping, .layout1.htmx-swap {
    animation: slideOut 0.2s linear forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-200px);
    }
}

.action {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        #111 30%
);
}

.pointer {
    cursor: pointer;
}