<article class="card main">
    <header style="display: grid; place-items: center; position: relative">
        <img id="jakob" src="/images/jakob.png" alt="Ritratto of Jakob">
        <img id="computer" src="/images/computer.png" alt="Computer">
        <h1>tutor<br>poche chiacchiere</h1>
    </header>

    <section aria-label="introduzione e link">
        <p>sono jakob, il tuo tutor 100% umano di informatica in inglese!</p>
        <nav>
            <ul style="list-style: none; padding: 0; margin: 0;">
                <li>
                    <a id="parliamolink" hx-get="/html/letstalk/it.html" hx-target=".card"
                        hx-push-url="false" hx-swap="outerHTML swap:0.2s settle:0.2s">
                        parliamo
                    </a>
                </li>
                <li>
                    <a id="cosainsegnolink" hx-get="/html/whatiteach/it.html" hx-target=".card"
                        hx-push-url="false" hx-swap="outerHTML swap:0.2s settle:0.2s">
                        cosa insegno
                    </a>
                </li>
                <li>
                    <a id="prezzilink" hx-get="/html/pricing/it.html" hx-target=".card"
                        hx-push-url="false" hx-swap="outerHTML swap:0.2s settle:0.2s">
                        tariffario
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <div id="navuk" hx-get="/html/navcountry/uk.html" hx-target="#navuk" hx-trigger="load" hx-swap="outerHTML"></div>
</article>